**Importing pandas to read a dataset, matplotlib,seaborn import for plotting,libraries and checking packages_version**

In [ ]:
from sklearn.linear_model import LinearRegression
import matplotlib
import seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
print(matplotlib.__version__)
print(seaborn.__version__)

3.2.2
0.11.1

**To Read Seed-Dataset**

In [ ]:
data=pd.read_csv('https://query.data.world/s/uouysa55slsp4etdkc3ova7hww6xue')
print(data)

      ID   area  ...  lengthOfKernelGroove  seedType
0      1  15.26  ...                 5.220         1
1      2  14.88  ...                 4.956         1
2      3  14.29  ...                 4.825         1
3      4  13.84  ...                 4.805         1
4      5  16.14  ...                 5.175         1
..   ...    ...  ...                   ...       ...
205  206  12.19  ...                 4.870         3
206  207  11.23  ...                 5.003         3
207  208  13.20  ...                 5.056         3
208  209  11.84  ...                 5.044         3
209  210  12.30  ...                 5.063         3

[210 rows x 9 columns]

**To Findout the datatypes of Seed-Dataset**

In [ ]:
data.dtypes

ID                        int64
area                    float64
perimeter               float64
compactness             float64
lengthOfKernel          float64
widthOfKernel           float64
asymmetryCoefficient    float64
lengthOfKernelGroove    float64
seedType                  int64
dtype: object

**To Findout the top 3 rows of data of Seed-Dataset**

In [ ]:
data.head(3)

   ID   area  perimeter  ...  asymmetryCoefficient  lengthOfKernelGroove  seedType
0   1  15.26      14.84  ...                 2.221                 5.220         1
1   2  14.88      14.57  ...                 1.018                 4.956         1
2   3  14.29      14.09  ...                 2.699                 4.825         1

[3 rows x 9 columns]

**To findout the rows and columns value in the Seed-dataset**

In [ ]:
data.shape

(210, 9)

**To Generate descriptive statistics information**

In [ ]:
data.describe()

               ID        area  ...  lengthOfKernelGroove    seedType
count  210.000000  210.000000  ...            210.000000  210.000000
mean   105.500000   14.847524  ...              5.408071    2.000000
std     60.765944    2.909699  ...              0.491480    0.818448
min      1.000000   10.590000  ...              4.519000    1.000000
25%     53.250000   12.270000  ...              5.045000    1.000000
50%    105.500000   14.355000  ...              5.223000    2.000000
75%    157.750000   17.305000  ...              5.877000    3.000000
max    210.000000   21.180000  ...              6.550000    3.000000

[8 rows x 9 columns]

**To convert the numerical values into array in a DataFrame**

In [ ]:
a=data.values
print(a)

[[  1.     15.26   14.84  ...   2.221   5.22    1.   ]
 [  2.     14.88   14.57  ...   1.018   4.956   1.   ]
 [  3.     14.29   14.09  ...   2.699   4.825   1.   ]
 ...
 [208.     13.2    13.66  ...   8.315   5.056   3.   ]
 [209.     11.84   13.21  ...   3.598   5.044   3.   ]
 [210.     12.3    13.34  ...   5.637   5.063   3.   ]]

**Assigning data into X and Y**

In [ ]:
X=a[:,0:8]
Y=a[:,8]

**Importing train_test_split**

In [ ]:
from sklearn.model_selection import train_test_split

**Splitting the dataset into 60:40**

In [ ]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y, test_size=0.4,random_state=22)

**Linear regression:** Linear regression is a common Statistical Data Analysis technique.. It is used to determine the extent to which there is a linear relationship between a dependent variable and one or more independent variables.

**To Train Linear Regression Model**

In [ ]:
lr=LinearRegression()
model=lr.fit(X_train,Y_train)

 **To predict the Linear-Regression Model**

In [ ]:
predict=model.predict(X_test)

**To see the prediction of the Linear-Regression Model**

In [ ]:
print(predict)

[0.92069974 1.21036599 2.19656912 1.17116506 1.71472221 2.90763334
 3.04022106 0.96920354 1.82577618 1.98422017 2.81798881 2.16448594
 1.87181733 1.96731047 1.87342034 1.86378633 2.00730353 1.22003167
 0.60336546 2.750456   0.92329278 2.80539726 1.317277   1.9759441
 1.12160653 2.64228588 2.72091694 2.66871105 1.21845149 2.68863114
 3.12863191 3.01131404 2.99310183 1.78062254 0.90141099 0.64283273
 2.88192037 2.00477214 1.810794   2.64302093 1.8934656  3.03053801
 1.54233457 0.5467367  3.18278728 1.88872984 2.94887332 3.08933836
 2.87383033 1.69889756 0.72682596 3.01290585 2.75431047 0.81695356
 1.92484522 0.56270732 1.89758714 0.94265442 2.81955345 2.90090433
 2.19710133 1.82325757 1.63605375 1.8837067  3.08726053 0.73443877
 1.26524614 2.62126438 1.98575184 2.60924187 1.64329683 2.7481055
 0.87906217 0.64196495 3.07826152 1.22086103 2.48430184 2.62460987
 1.97877142 0.46348558 1.19835434 0.64843323 2.77991382 2.55010556]

**The test data of the Linear-Regression Model**

In [ ]:
print(Y_test)

[1. 1. 2. 1. 2. 3. 3. 1. 2. 2. 3. 2. 2. 2. 2. 2. 2. 1. 1. 3. 1. 3. 1. 2.
 1. 3. 3. 3. 1. 3. 3. 3. 3. 2. 1. 1. 3. 2. 2. 3. 2. 3. 1. 1. 3. 2. 3. 3.
 3. 2. 1. 3. 3. 1. 2. 1. 2. 1. 3. 3. 2. 2. 2. 2. 3. 1. 1. 3. 2. 3. 2. 3.
 1. 1. 3. 1. 3. 3. 2. 1. 1. 1. 3. 3.]

**To import the performance metrics for Linear-Regression Model**

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

**MAE(Mean Absolute Error):**
MAE is the average of the absolute difference between the predicted values and observed value.

In [ ]:
mae=mean_absolute_error(Y_test,predict)
print("MAE=",mae)

MAE= 0.19803882232655554

**Mean Square Error(MSE):**
MSE is the average of the square difference between the predicted values and observed value.

In [ ]:
mse=mean_squared_error(Y_test,predict)
print("MSE=",mse)

MSE= 0.058048099559570875

**R2-Score:**
R-squared is a statistical measure of how close the data are to the fitted regression line.

In [ ]:
r2=r2_score(Y_test,predict)
print("R2=",r2)

R2= 0.9153045098237527